<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="banco_componente-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `banco_componente-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Banco_componenteElement extends Polymer.Element {
      static get is() { return 'banco_componente-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'banco_componente-element'
          }
        };
      }
    }

    window.customElements.define(Banco_componenteElement.is, Banco_componenteElement);
  </script>
</dom-module>
