<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-button/paper-button.html">


<dom-module id="banco-mexicano">
  <template>
    <style>
      :host {
        display: block;

        --mix-algo: {
          color: red;
        }
      }
      paper-input {
        max-width: 400px;
        margin: auto;
        @apply --mix-algo;
      }
      paper-card {
        margin-bottom: 10px;
      }
      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
      }
      paper-button.green[active] {
        background-color: var(--paper-red-500);
      }  
    </style>
    <paper-card>
      <div class="card-content">
          <label>Banco [[ bank ]] [[ amount ]] [[ currency ]]</label>
      </div>
      <div class="card-content">
          <paper-input always-float-label label="Ingrese monto" type="number" placeholder="0.00" value='{{newAmount::input}}'></paper-input>
        </div>
      <div class="card-actions">
        <paper-button raised on-click='_bancoSuccessDeposit' class="green rosa">
          Depositar
        </paper-button>
        <paper-button raised on-click='_bancoSuccessRetry'>
          Retirar
        </paper-button>
      </div>
    </paper-card>
  </template>

  <script>
    class BancoMexicano extends Polymer.Element {
      static get is() { return 'banco-mexicano'; }
      static get properties() {
        return {
          bank: {
            type: String,
            reflectToAttribute: true,
            value: 'Mexicano'
          },
          maxAmount: {
            type: Number,
            reflectToAttribute: true,
            value: 2000,
          },
          currency: {
            type: String,
            reflectToAttribute: true,
            value: 'MXN',
            readOnly: true,
          },
          amount: {
            type: Number,
            reflectToAttribute: true,
            value: 0,
          },
          newAmount: {
            reflectToAttribute: true,
            value: 0,
            type: Number
          },
        };
      }

      _buildMessageEvent(message, eventName) {
        this.dispatchEvent(new CustomEvent(eventName, {
          detail: {
            message
          }
        }));
      }

      _bancoSuccessDeposit() {
        if(parseFloat(this.newAmount) < this.maxAmount && parseFloat(this.newAmount) > 0){
          this.set('amount', this.amount + parseFloat(this.newAmount));
          this._buildMessageEvent(
            `Banco ${this.bank}, deposito confirmado de: ${parseFloat(this.newAmount)} ${this.currency}`,
            'success'
          );
          this.set('newAmount', 0);
        } else if(parseFloat(this.newAmount) > this.maxAmount){
          this._buildMessageEvent(
            `Banco ${this.bank}, no puede recibir la cantidad de: ${parseFloat(this.newAmount)} ${this.currency}`,
            'error'
          );
        } else if(parseFloat(this.newAmount) <= 0){
          this._buildMessageEvent(
            `Banco ${this.bank}, ingrese un monto superior a 0.00`,
            'error'
          );
        }
      }

      _bancoSuccessRetry() {
        if(parseFloat(this.newAmount) < this.amount && parseFloat(this.newAmount) > 0){
          this.set('amount', this.amount - parseFloat(this.newAmount));
          this._buildMessageEvent(
            `Banco ${this.bank}, retiro confirmado de: ${parseFloat(this.newAmount)} ${this.currency}`,
            'success'
          );
          this.set('newAmount', 0);
        } else if(parseFloat(this.newAmount) > this.amount){
          this._buildMessageEvent(
            `Banco ${this.bank}, fondos insuficientes para retiro de: ${parseFloat(this.newAmount)} ${this.currency}`,
            'error'
          );
        } else if(parseFloat(this.newAmount) <= 0){
          this._buildMessageEvent(
            `Banco ${this.bank}, retiro invalido`,
            'error'
          );
        }
      }

    }

    window.customElements.define(BancoMexicano.is, BancoMexicano);
  </script>
</dom-module>
