<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="./banco-mexicano.html">
<link rel="import" href="./banco_canadiense.html">
<link rel="import" href="./banco_chino.html">
<link rel="import" href="./banco_peruano.html">

<dom-module id="banco_componente-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <banco-mexicano
      on-error='_onError'
      on-success='_onSuccess'
    ></banco-mexicano>
    <banco-canadiense
      on-error='_onError'
      on-success='_onSuccess'
    ></banco-canadiense>
    <banco-chino
      on-error='_onError'
      on-success='_onSuccess'
    ></banco-chino>
    <banco-peruano
      on-error='_onError'
      on-success='_onSuccess'
    ></banco-peruano>
    <hr>
    <h2>Transacciones</h2>
    <tablexw>
      <template is="dom-repeat" items="[[ allTransactions ]]">
        <tr>
          <td>[[ item.date ]]</td>
          <td>[[ item.message ]]</td>
        </tr>
      </template>
    </table>		

  </template>

  <script>
    class Banco_componenteElement extends Polymer.Element {
      static get is() { return 'banco_componente-element'; }
      static get properties() {
        return {
          allTransactions: {
            type: Array,
            reflectToAttribute: true,
            value: () => {
              return [];
            },
          }
        };
      }

      _onError(e) {
        e.detail.date = new Date();
        this.push('allTransactions', e.detail);
      }

      _onSuccess(e) {
        this._onError(e);
      }

    }

    window.customElements.define(Banco_componenteElement.is, Banco_componenteElement);
  </script>
</dom-module>
