<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="banco-peruano">
  <template>
    <style>
      :host {
        display: block;

        --mix-algo: {
          color: red;
        }
      }
      paper-input {
        max-width: 400px;
        margin: auto;
        @apply --mix-algo;
      }
      paper-card {
        margin-bottom: 10px;
      }
      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
      }
      paper-button.green[active] {
        background-color: var(--paper-red-500);
      }  
    </style>
    <paper-card>
      <div class="card-content">
          <label>Banco [[ bank ]] [[ amount ]] [[ currency ]]</label>
      </div>
      <div class="card-content">
          <paper-input always-float-label label="Ingrese monto" type="number" placeholder="0.00" value='{{newAmount::input}}'></paper-input>
        </div>
      <div class="card-actions">
        <paper-button raised on-click='_bancoSuccessDeposit' class="green rosa">
          Depositar
        </paper-button>
        <paper-button raised on-click='_bancoSuccessRetry'>
          Retirar
        </paper-button>
      </div>
    </paper-card>
  </template>

  <script>
    class BancoPeruano extends Polymer.Element {
      static get is() { return 'banco-peruano'; }
      static get properties() {
        return {
          bank: {
            type: String,
            reflectToAttribute: true,
            value: 'Peruano'
          },
          maxAmount: {
            type: Number,
            reflectToAttribute: true,
            value: 2000,
          },
          currency: {
            type: String,
            reflectToAttribute: true,
            value: 'SOL',
            readOnly: true,
          },
          amount: {
            type: Number,
            reflectToAttribute: true,
            value: 0,
          },
          newAmount: {
            reflectToAttribute: true,
            value: 0,
            type: Number
          },
        };
      }


      _changeAmount(e) {
        this.set('newAmount', Number(e.path[0].value));
      }

      _buildMessageEvent(message, eventName) {
        this.dispatchEvent(new CustomEvent(eventName, {
          detail: {
            message
          }
        }));
      }

      _bancoSuccessDeposit() {
        if(this.newAmount < this.maxAmount && this.newAmount > 0){
          this.set('amount', this.amount + this.newAmount);
          this._buildMessageEvent(
            `Banco ${this.bank}, deposito confirmado de: ${this.newAmount.toFixed(2)} ${this.currency}`,
            'success'
          );
          this.set('newAmount', 0);
        } else if(this.newAmount > this.maxAmount){
          this._buildMessageEvent(
            `Banco ${this.bank}, no puede recibir la cantidad de: ${this.newAmount.toFixed(2)} ${this.currency}`,
            'error'
          );
        } else if(this.newAmount <= 0){
          this._buildMessageEvent(
            `Banco ${this.bank}, ingrese un monto superior a 0.00`,
            'error'
          );
        }
      }

      _bancoSuccessRetry() {
        if(this.newAmount < this.amount && this.newAmount > 0){
          this.set('amount', this.amount - this.newAmount);
          this._buildMessageEvent(
            `Banco ${this.bank}, retiro confirmado de: ${this.newAmount.toFixed(2)} ${this.currency}`,
            'success'
          );
          this.set('newAmount', 0);
        } else if(this.newAmount > this.amount){
          this._buildMessageEvent(
            `Banco ${this.bank}, fondos insuficientes para retiro de: ${this.newAmount.toFixed(2)} ${this.currency}`,
            'error'
          );
        } else if(this.newAmount <= 0){
          this._buildMessageEvent(
            `Banco ${this.bank}, retiro invalido`,
            'error'
          );
        }
      }

    }

    window.customElements.define(BancoPeruano.is, BancoPeruano);
  </script>
</dom-module>
